/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1, h2 {
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  /* Стили для шапки */
  header {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  /* Стили для основного содержимого */
  main {
    padding: 20px;
  }
  
  /* Стили для секций */
  section {
    margin-bottom: 30px;
  }
  
  section h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Стили для списков */
  ul {
    padding-left: 20px;
  }
  
  /* Стили для уникальных секций */
  .warehouses h2 {
    color: #1abc9c;
  }
  
  .offices h2 {
    color: #3498db;
  }
  
  .employees h2 {
    color: #9b59b6;
  }
  
  .products h2 {
    color: #f1c40f;
  }
  
  .orders h2 {
    color: #e67e22;
  }
  
  .components h2 {
    color: #e74c3c;
  }
  
  .arrival-of-components h2 {
    color: #95a5a6;
  }
  
  .warehouse-movements h2 {
    color: #2ecc71;
  }
  
  .complimentarys h2 {
    color: #34495e;
  }
  
  .motions-from-products h2 {
    color: #7f8c8d;
  }