{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Add Warehouse Movement</title>
</head>

<body>
  <!-- Заголовок страницы -->
  <h1>Add Warehouse Movement</h1>

  <!-- Форма для добавления перемещения на складе -->
  <form method="post" action="{% url 'add_warehouse_movement' %}" onsubmit="return validateForm()">
    {% csrf_token %} <!-- CSRF-токен для безопасности формы -->

    <!-- Выбор склада для уменьшения количества товара -->
    <label for="warehouse_minus">Warehouse Minus:</label>
    <select name="warehouse_minus" id="warehouse_minus">
      {% for warehouse in warehouses %}
      <option value="{{ warehouse.id }}" data-quantity="{{ warehouse.total_quantity }}">{{ warehouse.address }}</option>
      {% endfor %}
    </select><br><br>

    <!-- Скрытое поле для отправки данных id_warehouse_minus -->
    <input type="hidden" name="id_warehouse_minus" id="id_warehouse_minus">

    <!-- Выбор компонента и обновление Quantity через JavaScript -->
    <label for="component_name">Component Name:</label>
    <select name="component_name" id="component_name">
      {% for component in components %}
      <option value="{{ component.id }}" data-quantity="{{ component.total_quantity }}">{{ component.name }}</option>
      {% endfor %}
    </select><br><br>

    <!-- Поле для ввода количества товара -->
    <label for="quantity">Quantity:</label>
    <input type="text" name="quantity" id="quantity"><br><br>

    <!-- Выбор склада для увеличения количества товара -->
    <label for="id_warehouse_plus">Warehouse Plus:</label>
    <select name="id_warehouse_plus">
      {% for warehouse in warehouses %}
      <option value="{{ warehouse.id }}">{{ warehouse.address }}</option>
      {% endfor %}
    </select><br><br>

    <!-- Поле для ввода даты перемещения (автоматическая установка) -->
    <label for="date">Date:</label>
    <input type="datetime-local" name="date" id="id_date" required readonly><br><br>

    <!-- Поле для ввода комментария -->
    <label for="comment">Comment:</label>
    <input type="text" name="comment" required><br><br>

    <button type="submit">Add Movement</button>

    <a href="{% url 'warehouse_movements' %}"><button type="button">Go to home</button></a>
  </form>
  <div id="error-message" style="color: red;"></div>
  <!-- Подключение внешнего файла со скриптом -->
  <script src="{% static 'add_warehouse_movements.js' %}"></script>
</body>

</html>
